<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpendSmart</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpendSmart.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

</head>

<body class="grid-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light shadow  box-shadow mb-3 p-3">
            <div class="container-fluid d-flex justify-content-between">
                <div>
                    <a class="navbar-brand ms-md-5 ms-0 fs-4" asp-area="" asp-controller="Home" asp-action="Index"> <img
                            src="/images/logo.webp" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                        <b>SpendSmart</b></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1 ms-md-4 ms-0 fs-5 ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i
                                    class="fa-solid fa-diagram-project text-primary px-3"></i>My Projects</a>
                        </li>
                        @* <li class="nav-item ms-md-4 ms-0 text-lg fs-5">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i
                                    class="fa-solid fa-circle-info text-primary px-3"></i>About</a>
                        </li>
                        <li class="nav-item ms-md-4 ms-0 fs-5">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><i
                                    class="fa-solid fa-shield text-primary px-3"></i>Privacy</a>
                        </li> *@
                    </ul>
                    @* <div class="dropdown open ">
                        <button class="btn btn-primary dropdown-toggle w-100 mt-2 mt-md-0" type="button" id="triggerId"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end w-100  mt-2" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user"></i> My Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fab fa-github"></i> Github
                            </a>
                        </div>
                    </div> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

</body>

<footer class="border-top bg-light  footer text-muted">
    <div class="container d-flex text-wrap">
        &copy; 2025 - SpendSmart - By John Eriel Labadan
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>
